In [1]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import pandas as pd
import firebase_admin
from firebase_admin import credentials, firestore, db
import json
import random

In [2]:
cred = credentials.Certificate('/Users/evanrussek/server_keys/feature_task_key.json')
#cred = credentials.Certificate('C:\\Users\\erussek\\forage_jsp\\analysis\\foragetask-firebase-private-key.json')
default_app = firebase_admin.initialize_app(cred)
client = firestore.client()

In [20]:
dfs = []
for subj in client.collection('featuretask').document('run1b').collection('subjects').stream():
    taskdata_collection = client.collection('featuretask/run1b/subjects/{0}/taskdata'.format(subj.id)).stream()
    subjectID = subj.id
    has_data = False # did this subject finish the task?\n",
    has_start = False
    for tc in taskdata_collection:
        if tc.id == "start":
            has_start = True
            start_dict = tc.to_dict()
            subjectID = start_dict['subjectID']    
        else:
            has_data = True
            task_dict = tc.to_dict()
            sub_data = json.loads(task_dict['data'])
            sub_df = pd.DataFrame(sub_data)
        
    if has_start & has_data & (len(str(subjectID))>20):
        print(subj.id)
        sub_df["subjectID"] = subjectID
        dfs.append(sub_df)

combined_df = pd.concat(dfs, sort = True)
combined_df.to_csv('data/run1b_data.csv')

0tq919pwtQN2WGDvAuYje5bk7Ny1
1Icmw7gc2QcWyzBEXAee5SXBY6p1
2Ri2PoRERMUjFVu1JAL5wwj9Q4B2
4Ljavubz2cVfdLkvzs8uk83cvnq2
7fl1fF3p6QfIUquD6Ul8riJB3aQ2
8jy6v6dwYyUm9OIOvq1XrQrkcnX2
A7e175FFU1OvXOo6Hkhvwommecg2
EoGsgyTUmkPyhK7zLSxlos06SXk1
ft5pA5wac4XSVPxSbBDrn3bC3W43
j7BBtSDxUkaixRb3BdZF8SSdF5p2
jGbaOVkNgWT7ktiofzSo959jU0K3
le68ZWm8ulRRmrRoAl4Cg6MYO2x2
uWuN6aTmhyWVUZsKFOFnRpPUIyq2
yolQ5Q4spobbgY5eyPk4qTz8uiV2

In [19]:
str(1)

'1'

In [21]:
# get one subject dfs
bonus_df = pd.DataFrame()
subj_IDs = combined_df.subjectID.unique()
for i in range(len(subj_IDs)):
    s1_data = combined_df[combined_df["subjectID"] == subj_IDs[i]]
    rr = s1_data.reward_received[~np.isnan(s1_data.reward_received)][6:]
    bonus_points = np.sum(rr.sample(5))
    bonus_pct = (bonus_points + 15)/30
    bonus = 2*bonus_pct
    bonus_dict = {'subjectID': subj_IDs[i], 'bonus': bonus}
    bonus_df = bonus_df.append(bonus_dict, ignore_index = True)

bonus_df[['subjectID', 'bonus']].to_csv('bonus_files/run1b_bonus_payments.csv', sep = ',', header = False, index = False)

In [22]:
bonus_df

       bonus                 subjectID
0   1.466667  5ea60beb07183a615a30a2d4
1   1.600000  5b0b369230d5620001553596
2   1.266667  5e9dc0b83df7f70e8c65a331
3   1.266667  5d151e1490484f001a7f5974
4   1.133333  5bc2ffbfb17a810001daf2c7
5   1.200000  5a9d6bc3b5e2110001c6de60
6   0.866667  5eab3a8a82483a0fa6423fa9
7   1.066667  5ad3ca7b459c350001137f64
8   1.066667  55a1137cfdf99b6ec83c1ff3
9   1.200000  5b70a6f48d336b0001fe97eb
10  1.000000  5efccd0027e5f40c85df9379
11  1.666667  5d1f6e8a79b6870016f803da
12  1.266667  5a7baeeaf49c9a0001f330d5
13  0.800000  5e3927bf9d5f1e136ce96b0a

In [61]:
i = 0
s1_data = combined_df[combined_df["subjectID"] == subj_IDs[i]]

In [62]:
rr = s1_data.reward_received[~np.isnan(s1_data.reward_received)][5:]
bonus_points = np.sum(rr.sample(5))
bonus_pct = (bonus_points + 15)/30
bonus = 2*bonus_pct
bonus_dict = {'subjectID': subj_IDs[i], 'bonus': bonus}

In [63]:
bonus_dict

{'subjectID': '5b6359dff4db970001229501', 'bonus': 1.2666666666666666}

In [66]:
bonus_df

      bonus                 subjectID
0  1.066667  5b6359dff4db970001229501
1  0.600000  5d52e92220d410001799d261
2  1.333333  5ef4bb3193bc300828ad5e9b
3  1.200000  5f077fdf5f079b3961a02ad1